/*******************
 * check and radio Ubuntu 15.xx*
 *******************/
/* draw regular check and radio items using our assets */
.check {
    -gtk-icon-source: url("assets/checkbox-unchecked.png");
}

.check:insensitive {
    -gtk-icon-source: url("assets/checkbox-unchecked-insensitive.png");
}

.check:checked {
    -gtk-icon-source: url("assets/checkbox-checked.png");
}

.check:checked:insensitive {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive.png");
}

.check:inconsistent {
    -gtk-icon-source: url("assets/checkbox-mixed.png");
}

.check:inconsistent:insensitive {
    -gtk-icon-source: url("assets/checkbox-mixed-insensitive.png");
}

.radio {
    -gtk-icon-source: url("assets/radio-unselected.png");
}

.radio:insensitive {
    -gtk-icon-source: url("assets/radio-unselected-insensitive.png");
}

.radio:checked {
    -gtk-icon-source: url("assets/radio-selected.png");
}

.radio:checked:insensitive {
    -gtk-icon-source: url("assets/radio-selected-insensitive.png");
}

.radio:inconsistent {
    -gtk-icon-source: url("assets/radio-mixed.png");
}

.radio:inconsistent:insensitive {
    -gtk-icon-source: url("assets/radio-mixed-insensitive.png");
}

.menuitem.check {
    -gtk-icon-source: none;
}

.menuitem.check:active,
.menuitem.check:checked {
    -gtk-icon-source: url("assets/menuitem-checkbox-checked.png");
}

.menuitem.check:active:hover,
.menuitem.check:checked:hover {
    -gtk-icon-source: url("assets/menuitem-checkbox-checked-hover.png");
}

.menuitem.check:active:insensitive,
.menuitem.check:checked:insensitive {
    -gtk-icon-source: url("assets/menuitem-checkbox-checked-insensitive.png");
}

.menuitem.check:inconsistent:hover,
.menuitem.radio:inconsistent:hover {
    -gtk-icon-source: url("assets/menuitem-checkbox-mixed-hover.png");
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
    -gtk-icon-source: url("assets/menuitem-checkbox-mixed.png");
}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
    -gtk-icon-source: url("assets/menuitem-checkbox-mixed-insensitive.png");
}

.menuitem.radio {
    -gtk-icon-source: none;
}

.menuitem.radio:active,
.menuitem.radio:checked {
    -gtk-icon-source: url("assets/menuitem-radio-checked.png");
}

.menuitem.radio:active:hover,
.menuitem.radio:checked:hover {
    -gtk-icon-source: url("assets/menuitem-radio-checked-hover.png");
}

.menuitem.radio:active:insensitive,
.menuitem.radio:checked:insensitive {
    -gtk-icon-source: url("assets/menuitem-radio-checked-insensitive.png");
}

GtkIconView.content-view.cell.check {
    -gtk-icon-source: url("assets/grid-selection-unchecked.png");
}

GtkIconView.content-view.cell.check:active {
    -gtk-icon-source: url("assets/grid-selection-checked.png");
}

/*************************
 * Check and Radio items Ubuntu 14.xx*
 *************************/

/* draw regular check and radio items using our SVG assets */
GtkModelButton.button.check,
GtkModelButton.button.check:hover,
.check,
.view.cell.check {
	background-image: url("assets/checkbox-unchecked.png");
	background-repeat: no-repeat;
	background-position: center;
}

GtkModelButton.button.check:insensitive,
.check:insensitive {
	background-image: url("assets/checkbox-unchecked-insensitive.png");
}

.check row:insensitive {
	background-color: transparent;
}

GtkModelButton.button.check:active,
GtkModelButton.button.check:active:hover,
.check:active,
.view.cell.check:active {
	background-image: url("assets/checkbox-checked.png");
}

GtkModelButton.button.check:active:insensitive,
.check:active:insensitive {
	background-image: url("assets/checkbox-checked-insensitive.png");
}

.check:inconsistent {
	background-image: url("assets/checkbox-mixed.png");
}

.check:inconsistent:insensitive {
	background-image: url("assets/checkbox-mixed-insensitive.png");
}

GtkModelButton.button.radio,
GtkModelButton.button.radio:hover,
.radio,
.view.cell.radio {
	background-image: url("assets/radio-unselected.png");
	background-repeat: no-repeat;
	background-position: center;
}

GtkModelButton.button.radio:insensitive,
.radio:insensitive {
	background-image: url("assets/radio-unselected-insensitive.png");
}

.radio row:insensitive {
	background-color: transparent;
}

GtkModelButton.button.radio:active,
GtkModelButton.button.radio:active:hover,
.radio:active,
.view.cell.radio:active {
	background-image: url("assets/radio-selected.png");
}

GtkModelButton.button.radio:active:insensitive,
.radio:active:insensitive {
	background-image: url("assets/radio-selected-insensitive.png");
}

.radio:inconsistent {
	background-image: url("assets/radio-mixed.png");
}

.radio:inconsistent:insensitive {
	background-image: url("assets/radio-mixed-insensitive.png");
}

.menuitem.check {
    background-image: none;
}

.menuitem.check:active {
    background-image: url("assets/menuitem-checkbox-checked.png");
}

.menuitem.check:active:hover {
    background-image: url("assets/menuitem-checkbox-checked-hover.png");
}

.menuitem.check:active:insensitive {
    background-image: url("assets/menuitem-checkbox-checked-insensitive.png");
}

.menuitem.check:inconsistent:hover,
.menuitem.radio:inconsistent:hover {
    background-image: url("assets/menuitem-checkbox-mixed-hover.png");
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
    background-image: url("assets/menuitem-checkbox-mixed.png");
}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
    background-image: url("assets/menuitem-checkbox-mixed-insensitive.png");
}

.menuitem.radio {
    background-image: none;
}

.menuitem.radio:active {
    background-image: url("assets/menuitem-radio-checked.png");
}

.menuitem.radio:active:hover {
    background-image: url("assets/menuitem-radio-checked-hover.png");
}

.menuitem.radio:active:insensitive {
    background-image: url("assets/menuitem-radio-checked-insensitive.png");
}

GtkIconView.content-view.cell.check {
    background-image: url("assets/grid-selection-unchecked.png");
}

GtkIconView.content-view.cell.check:active {
    background-image: url("assets/grid-selection-checked.png");
}


/******************
 * pane separator *
 ******************/
.pane-separator,
.pane-separator.horizontal {
    background-image: linear-gradient(to bottom,
                                      shade(@theme_bg_color, 0.8) 0%,
                                      shade(@theme_bg_color, 0.8) 20%,
                                      transparent 20%,
                                      transparent 45%,
                                      shade(@theme_bg_color, 0.8) 45%,
                                      shade(@theme_bg_color, 0.8) 55%,
                                      transparent 55%,
                                      transparent 80%,
                                      shade(@theme_bg_color, 0.8) 80%,
                                      shade(@theme_bg_color, 0.8)
                                      );

    background-size: 4px 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

.pane-separator.vertical {
    background-image: linear-gradient(to right,
                                      shade(@theme_bg_color, 0.8) 0%,
                                      shade(@theme_bg_color, 0.8) 20%,
                                      transparent 20%,
                                      transparent 45%,
                                      shade(@theme_bg_color, 0.8) 45%,
                                      shade(@theme_bg_color, 0.8) 55%,
                                      transparent 55%,
                                      transparent 80%,
                                      shade(@theme_bg_color, 0.8) 80%,
                                      shade(@theme_bg_color, 0.8)
                                      );

    background-size: 10px 4px;
    background-repeat: no-repeat;
    background-position: center center;
}
