/*/* default color scheme 
@define-color bg_color #2b2d3a;
@define-color fg_color #000000;
@define-color base_color #f9f9f9;
@define-color text_color #ffffff;
@define-color selected_bg_color #313438;/*
@define-color selected_fg_color #75d6e5;/*
@define-color tooltip_bg_color #2d2d2d;/*
@define-color tooltip_fg_color #dcdcdc;/*

/* dark color scheme 
@define-color dark_bg_color #2d2d2d;
@define-color dark_fg_color #dcdcdc;

/* colormap actually used by the theme, to be overridden in other css files 
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* shadow effects 
@define-color light_shadow #000;
@define-color dark_shadow #000;

/* misc colors used by gtk+ 
@define-color info_fg_color rgb (58, 135, 173);
@define-color info_bg_color rgb (217, 237, 247);
@define-color warning_fg_color rgb (192, 152, 83);
@define-color warning_bg_color rgb (252, 248, 227);
@define-color question_fg_color rgb (214, 73, 55);
@define-color question_bg_color rgb (252, 229, 213);
@define-color error_fg_color rgb (185, 74, 72);
@define-color error_bg_color rgb (242, 222, 222);
@define-color link_color #7A7D81;
@define-color success_color #53a93f;
@define-color warning_color #f57900;
@define-color error_color #cc0000;

/* widget colors
@define-color titlebar_bg_color @dark_bg_color;
@define-color titlebar_fg_color @dark_fg_color;
@define-color menubar_bg_color @dark_bg_color;
@define-color menubar_fg_color @dark_fg_color;
@define-color toolbar_bg_color @theme_bg_color;
@define-color toolbar_fg_color @theme_fg_color;
@define-color menu_bg_color @dark_bg_color;
@define-color menu_fg_color @dark_fg_color;
@define-color panel_bg_color @dark_bg_color;
@define-color panel_fg_color @dark_fg_color;

/* osd 
@define-color osd_base @dark_bg_color;
@define-color osd_fg @dark_fg_color;
@define-color osd_bg alpha(@osd_base, 0.8);

/* lightdm greeter colors 
@define-color lightdm_bg_color @dark_bg_color;
@define-color lightdm_fg_color @dark_fg_color;

/* window manager colors 
@define-color wm_bg @titlebar_bg_color;
@define-color wm_border_focused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);
@define-color wm_border_unfocused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.12);
@define-color wm_title_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_title_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_icons_focused_prelight @selected_bg_color;
@define-color wm_icons_focused_pressed shade(@selected_bg_color, 0.8);
@define-color wm_icons_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_unfocused_prelight @selected_bg_color;
@define-color wm_icons_unfocused_pressed shade(@selected_bg_color, 0.8);
*/
@define-color theme_fg_color #5c616c;
@define-color theme_text_color #5c616c;
@define-color theme_bg_color #F5F6F7;
@define-color theme_base_color #ffffff;
@define-color theme_selected_bg_color #313438;
@define-color theme_selected_fg_color #75d6e5;
@define-color fg_color #5c616c;
@define-color text_color #5c616c;
@define-color bg_color #F5F6F7;
@define-color base_color #ffffff;
@define-color selected_bg_color #313438;
@define-color selected_fg_color #75d6e5;
@define-color insensitive_bg_color #fbfbfc;
@define-color insensitive_fg_color alpha(#5c616c, 0.5);
@define-color insensitive_base_color #ffffff;
@define-color theme_unfocused_fg_color #5c616c;
@define-color theme_unfocused_text_color #5c616c;
@define-color theme_unfocused_bg_color #F5F6F7;
@define-color theme_unfocused_base_color #ffffff;
@define-color borders #dcdfe3;
@define-color unfocused_borders #dcdfe3;
@define-color warning_color #F27835;
@define-color error_color #FC4138;
@define-color success_color #73d216;
@define-color placeholder_text_color #A8A8A8;
@define-color link_color #2679db;
@define-color content_view_bg #ffffff;
@define-color wm_title alpha(#525d76, 0.8);
@define-color wm_unfocused_title alpha(#525d76, 0.5);
@define-color wm_bg #e7e8eb;
@define-color wm_bg_unfocused #eff0f2;
@define-color wm_highlight #eff0f2;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_button_close_bg #f46067;
@define-color wm_button_close_hover_bg #f68086;
@define-color wm_button_close_active_bg #f13039;
@define-color wm_icon_close_bg #F8F8F9;
@define-color wm_button_hover_bg #fdfdfd;
@define-color wm_button_active_bg #5294e2;
@define-color wm_button_hover_border #D1D3DA;
@define-color wm_icon_bg #90949E;
@define-color wm_icon_unfocused_bg #B6B8C0;
@define-color wm_icon_hover_bg #7A7F8B;
@define-color wm_icon_active_bg #ffffff;

@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
@import url("apps/gnome-applications.css");
@import url("apps/granite-widgets.css");
@import url("apps/unity.css");
@import url("apps/xfce.css");
@import url("apps/synaptic.css");
